@media screen and (max-width: 1024px)
{
.form {
    align-items: center;
	max-width: 400px;
	padding: 20px 12px 12px 20px;
    margin: auto;
    margin-bottom: 2em;
}
.confirm{
	max-width: 400px;
	padding: 15px ;
    margin: auto;
    height: 100px;
    text-align: center;
    margin-bottom: 30em;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.45);
    background-color: rgb(114, 248, 114);
    font-weight: bold;
    position: absolute;
    z-index: 1;
}
.form li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form .name{
	width: 96%;
    height: 20px;
}
.form .message{
	width: 96%;
    height: 100px;
}
.form .email{
	width: 96%;
    height: 20px;
}
.form input[type=submit], .form input[type=button]{
    border-radius: 0.55rem;
    padding: 5px; 
}
.form input[type=submit]:hover, .form input[type=button]:hover{
    border-radius: 0.55rem;
    padding: 5px; 
}
.form .required{
	color:red;
}
#me_contacter {
    text-align: center;
    font-size: large;
    margin-top: 1em;
    font-weight: bold ;
}
.img_artist{
    margin: 4%;
    display: flex;
    justify-content: center;
}
.artist_title{
    text-align: center;
    margin-top: 1em;
    font-size: 25px;
}
.artist_title--bio{
    text-align: justify;
    margin: 1em;
}
.img_asso{
        margin: 4%;
        display: flex;
        justify-content: center;
}
.asso{
    text-align: justify;
    margin: 1em;
    margin-top: 5em;
    
}
p{
    font-size: 15px;
}
}

@media screen and (min-width: 1024px)
{
.form {
	max-width: 400px;
	padding: 20px ;
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 10px 25px 35px 10px rgba(0,0,0,0.45);
    margin-left: 35%;
}
.confirm{
	max-width: 400px;
	padding: 15px ;
    margin: auto;
    height: 100px;
    text-align: center;
    margin-bottom: 23em;
    margin-left: 51em;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 10px 25px 35px 10px rgba(0,0,0,0.45);
    background-color: rgb(114, 248, 114);
    font-weight: bold;
    position: absolute;
    z-index: 1;
}
.bio{
    display: grid;
}
.artist{
    margin: 2%;
    justify-content: center;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 10px 25px 35px 10px rgba(0,0,0,0.45);
    padding: 20px;
    width: 70%;
}
.artist_title{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 40px;
}
.artist_title--bio{
    padding-top: 25px;
    text-align: left;
    margin: 2%;
}
.img_artist{
    float: left;
    margin-right: 2%;
}
.asso{
    text-align: left;
    border-radius: 2em 2em 2em 2em;
    box-shadow: 10px 25px 35px 10px rgba(0,0,0,0.45);
    padding: 20px;
    width: 70%;
    margin: 2%;
    margin-left: 25%;
}
.who_asso--bio{
    justify-content: center;
    margin: 2%;
    text-align: left;
}
.img_asso{
    float: right;
    margin-left: 2%;
}

.form li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form .name{
    width: 98%;
    height: 20px;
    padding: 5px;
}
.form .message{
    width: 98%;
    height: 100px;
    padding: 5px;
}
.form .email{
    width: 98%;
    height: 20px;
    padding: 5px;
}
.form input[type=submit], .form input[type=button]{
    border-radius: 0.55rem;
    padding: 5px; 
    }
.form input[type=submit]:hover, .form input[type=button]:hover{
    border-radius: 0.55rem;
    padding: 5px; 
}
.form .required{
    color:red;
}
.form select {
    width: 50%;
    height: 30px;
}
    
#me_contacter {
    text-align: center;
    font-size: x-large;
    padding-bottom: 10px;
    font-weight: bold ;
    }   
}

h3{
    font-style: italic;
    margin: 1em;
}
