.footer{
    /* margin: em; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    
    background-color: #d7e3fc;
    bottom: 0px;
    left: 0px;
    height: 2em;

}

.footer__a{
    color: black;
    text-decoration: none;
}

.footer__a:hover{
    border-left: 3px solid #FBFBFD;
    border-right: 3px solid #FBFBFD;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#easterEgg{
    display: none;
}