a:link 
{ 
 	text-decoration:none;
}
footer {
	position: relative;
	z-index: 1;
}
body{
	background-image: url(/pictures/fond.jpg);
	background-size: auto;
}
label {
	color: black;
	transition: transform 400ms ease-out;
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 2;
	text-align: center;
	font-family: 'cinzel';
	font-size: 3em;
	margin-top: 10px;
}
form {
    width: 100%; 
    max-width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
    white-space: nowrap;
}
input {
	position: absolute;
}
label:before,
label:after {
	color:black;
	display: block;
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	top: 3em;
	height: 10rem;
	line-height: 10rem;
	background: rgba(99, 87, 87, 0.2);
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
	z-index: 10;
}
label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
@media screen and (min-width: 1024px)
{
input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4),
input:nth-of-type(5):checked ~ label:nth-of-type(5){
   z-index: 0;
}
input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}
input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}
input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200.5%, 0, 0);
}
input:nth-of-type(4):checked ~ label {
	transform: translate3d(-301%, 0, 0);
}
input:nth-of-type(5):checked ~ label {
	transform: translate3d(-401%, 0, 0);
}
p{
	z-index: 3;
	position: absolute;
	text-overflow: ellipsis;
	max-width: 70%;
	white-space: normal;
	overflow: hidden;
	text-align: center;
	margin-left: 15%;
	margin-top: 10px;
	font-size: 27px;
}
}
@media screen and (max-width: 1024px) {
input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4),
input:nth-of-type(5):checked ~ label:nth-of-type(5){
   z-index: 0;
}
input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}
input:nth-of-type(2):checked ~ label {
	transform: translate3d(-101.5%, 0, 0);
}
input:nth-of-type(3):checked ~ label {
	transform: translate3d(-202.9%, 0, 0);
}
input:nth-of-type(4):checked ~ label {
	transform: translate3d(-304.3%, 0, 0);
}
input:nth-of-type(5):checked ~ label {
	transform: translate3d(-405.5%, 0, 0);
}
p{
	z-index: 3;
	position: absolute;
	text-overflow: ellipsis;
	max-width: 70%;
	white-space: normal;
	overflow: hidden;
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 12px;
	margin-top: 40%;
}
}
